body{
    max-width: 1444px;
    margin: 0 auto;
}

header{
    position: fixed;
    z-index: 999;
}

main{
    margin-top: 80px;
    position: absolute;
}

.fa-gamepad{
    color: rgb(255, 255, 255);
    transition:transform .25s ease;
}

.fa-gamepad:hover{
    transform:scale(1.125);
}

#navbarNav{
    align-items: flex-start;
}

.navbar-nav a {
    color: aliceblue;
}

.navbar-nav p{
    padding-top: 7px;
    color: aliceblue;
}


.card-text{
    text-align: justify;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.section, .about{
    margin-top: 5px;
    padding: 20px;
}

#lancamentos nav{
    display: grid;
	grid-template-columns: repeat(8, 1fr);
}

.section .card{
    margin-bottom: 10px;
}

.openBtn, .closeBtn{
    display: inline;
    margin-top: 10px;
}

.about i {
    margin-right: 5px;

}
.modal-body p {
    text-align: justify;
}
.modal-footer {
    justify-content: flex-start;
    display: block;
}
footer{
    position: fixed;
}